.small {
  font-size: 0.8em;
}

html, body {
  background-color: $slate;
}

h1 {
  font-weight: 400;
}

header, h2, h1 {
  font-family: $display_font;
}

p, h3, li, h4, h5, h6 {
  font-family: $text_font;
}

text, code {
  font-family: $mono_font;
}
