@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|EB+Garamond|Source+Sans+Pro);
$display_font: 'EB Garamond', serif;
$text_font: 'Source Sans Pro', sans-serif;
$mono_font: 'Anonymous Pro', monospace;
$slate: #333;
$bright: #efefef;
