// import Hack font
//@import url(http://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css);
// import google fonts
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Rufina|Source+Code+Pro);
@import "vars", "constants";


header {
  text-align: center;
  color: $bright;
  padding-bottom: 0;
  
  p {
    color: rgba($bright, 0.5);
  }

  hr {
    border: 0;
    height: 1px;
    background: $slate;
    background-color: $bright;
  }

  ul {
    list-style-type: none;
    margin: 5% 0;
    padding: 0;
  }

  li {
    margin: 0 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: 400;

    a {
      color: $bright;
    }
    a:visited {
      color: $bright;
    }
    a:active, {
      color: $bright;
    }
  }
}

a {
  text-decoration: none;
}

main {
  background-color: $bright;
  border-radius: 5px;
  padding: 7%;
  margin: 6%;
  margin-bottom: 50px;

  hr {
    border: 0;
    height: 1px;
    background: $bright;
    background-image: linear-gradient(to right, $bright, $slate, $bright);
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 8%;
  }
}

@media (min-width: 768px){
  header {
    padding: 10% 20%;
  }

  p, h3 {
    font-size: 1.5em;
  }
}

@media (min-width: 1224px) {
  header {
    margin-top: 50px;
    grid-area: header;
    font-size: 0.9em;
    padding: 50px 5%;
    text-align: right;
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.3em;
    }
  }
  main {
    grid-area: content;
    h3 {
      font-size: 2em;
    }
  }
  .container {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header content";
  }
}
