@import "vars", "constants";

header {
  text-align: center;
  color: $bright;
  padding-bottom: 0;

  p {
    color: rgba($bright, 0.5);
  }

  hr {
    border: 0;
    height: 1px;
    background: $slate;
    background-color: $bright;
  }

  ul {
    list-style-type: none;
    margin: 5% 0;
    padding: 0;
  }

  li {
    margin: 0 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: 400;

    a {
      color: #ccc;
      text-decoration: none;
      font-size: 1.5em;
      &:hover, &:active {
        color: #fff;
      }
    }
  }
}

main {
  background-color: $bright;
  border-radius: 5px;
  padding: 7%;
  margin: 6%;
  margin-bottom: 50px;

  p, li {
    font-weight: lighter;
  }

  hr {
    border: 0;
    height: 1px;
    background: $bright;
    background-image: linear-gradient(to right, $bright, $slate, $bright);
  }

  a {
    color: black;
  }

  code {
    background-color: #ccc;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
  }

  code.inline {
    display: inline;
    padding: 1px 5px;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 8%;
    padding-bottom: 0;
  }
  code {
    white-space: pre-line;
  }
  code.inline {
    font-size: 0.9em;
  }
}

@media (min-width: 768px){
  header {
    padding: 10% 20% 0 20%;
    h1 {
      font-size: 3em;
    }
  }

  main {
    h1 { font-size: 3em; }
    h2 { font-size: 2.8em; }
    h3 { font-size: 2.6em; }
    h4 { font-size: 2.4em; }
    h5 { font-size: 2.2em; }
    h6 { font-size: 2.0em; }
    .small { font-size: 1.2em; }
    p, li { font-size: 1.5em; }
    code { font-size: 1.2em; }
    code.inline { font-size: 0.9em; }
  }
}

@media (min-width: 1224px) {
  header {
    margin-top: 50px;
    grid-area: header;
    font-size: 0.9em;
    padding: 75px 5%;
    text-align: right;
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.3em;
    }
  }
  main {
    grid-area: content;

    ul#topics {
      li {
        display: inline-block;
        width: 40%;
        margin: 2%;
      }
    }
  }
  .container {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header content";
  }
}
